{% extends 'base.html.twig' %}
{% block title %}forgotten password{% endblock %}

{% block css %}
    {{ parent() }}
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<style>
.btn-primary {
    width: 100%;
    background-color: rgb(59, 136, 45);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: rgb(16, 104, 0);
}
</style>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{% endblock %}

{% block section %}
<br><br><br><br><br>
 <div class="form-gap"></div>
<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <div class="panel-body">
    
                     {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    {{ form_start(requestForm) }}
<label for="{{ requestForm.email_user.vars.id }}">{{ requestForm.email_user.vars.label }}</label>
{{ form_widget(requestForm.email_user, {'attr': {'class': 'form-control', 'placeholder': 'Enter your email'}}) }}

        <div>
            <small>
                Enter your email address, and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
                  </div>
                </div>
              </div>
            </div>
          </div>
	</div>
</div>
<br><br>
{% endblock %}
