{{ form_start(form, {'attr': {'class': 'nature-form'}}) }}
    <div class="form-fields">
        {% for field in form.children %}
            {% if field.vars.name != '_token' %}
                <div class="form-group">
                    <div class="field-icon">
                        {% set icon = {
                            'nomLivreur': 'user',
                            'prenomLivreur': 'user-tag',
                            'numeroLivreur': 'phone',
                            'addresseLivreur': 'map-marker-alt',
                            'photoLivreur': 'image'
                        } %}
                        <i class="fas fa-{{ icon[field.vars.name]|default('circle') }}"></i>
                    </div>
                    <div class="field-content">
                        {{ form_label(field, null, {'label_attr': {'class': 'form-label'}}) }}
                        {{ form_widget(field, {'attr': {'class': 'form-control nature-input'}}) }}
                        {% if field.vars.errors|length > 0 %}
                            <div class="form-error-message">
                                {{ form_errors(field) }}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="form-actions">
        <button class="btn btn-custom btn-nature">
            <i class="fas fa-save"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
{{ form_end(form) }}
