{% extends 'backend/indexbackend.html.twig' %}

{% block title %}New Produit{% endblock %}

{% block content %}
    <h1>Create new Produit</h1>

    <div class="card">
        <div class="card-body">
            {{ form_start(form, {'attr': {'enctype': 'multipart/form-data'}}) }}
            <div class="form-group">
                {{ form_label(form.quantite) }}
                {{ form_widget(form.quantite, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.quantite) }}
            </div>
            <div class="form-group">
                {{ form_label(form.nom_produit) }}
                {{ form_widget(form.nom_produit, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.nom_produit) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description_produit) }}
                {{ form_widget(form.description_produit, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.description_produit) }}
            </div>
            <div class="form-group">
                {{ form_label(form.prix_produit) }}
                {{ form_widget(form.prix_produit, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.prix_produit) }}
            </div>
            <div class="form-group">
                {{ form_label(form.disponibilte_produit) }}
                {{ form_widget(form.disponibilte_produit, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.disponibilte_produit) }}
            </div>
            <div class="form-group">
                {{ form_label(form.image_produit) }}
                {{ form_widget(form.image_produit, {'attr': {'class': 'form-control-file'}}) }}
                {{ form_errors(form.image_produit) }}
            </div>
            <div class="form-group">
                {{ form_label(form.location) }}
                {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.location) }}
            </div>
            <div class="form-group">
                {{ form_label(form.rating) }}
                {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.rating) }}
            </div>
            <div class="form-group">
                {{ form_label(form.id_categories) }}
                {{ form_widget(form.id_categories, {'attr': {'class': 'form-control'}}) }}
                {{ form_errors(form.id_categories) }}
            </div>
            <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>

    <a class="btn btn-secondary mt-3" href="{{ path('app_produit_index') }}">Back to list</a>
{% endblock %}