 <header>
      <!-- header inner -->
      <div class="header">
        <div class="container" style="height: 76px;">
          <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col logo_section">
              <div class="full">
                <div class="center-desk">
                  <div class="logo"> <a href="index.html"><img src="{{asset('images/logo.png')}}" alt="#" width="85" height="200"></a> </div>
                </div>
              </div>
            </div>
            <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9">
              <div class="location_icon_bottum_tt">
                <ul>
                  <li><img src="{{asset('icon/email1.png')}}">GreenGrow@gmail.com</li>
                  <li><img src="{{asset('icon/call1.png')}}">(+216) 25845846</li>
                  <li>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                      {% if app.user %}
                        <a href="{{ path('app_logout') }}" class="send" style="width: 120px; margin-left: 700px; margin-top: -100px; height: 60px; display: inline-block; text-align: center; line-height: 60px; text-decoration: none; color: white; background-color: #1f5f2e; padding: 0; border-radius: 5px;">Déconnexion</a>
                      {% else %}
                        <a href="{{ path('app_login') }}" class="send" style="width: 120px; margin-left: 700px; margin-top: -100px; height: 60px; display: inline-block; text-align: center; line-height: 60px; text-decoration: none; color: white; background-color: #1f5f2e; padding: 0; border-radius: 5px;">Connexion</a>
                      {% endif %}
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 location_icon_bottum" style="margin-top: -68px; height: 69px;">
              <div class="row"> 
                <div class="col-md-8 ">
                  <div class="menu-area">
                    <div class="limit-box">
                      <nav class="main-menu">
                        <ul class="menu-area-main">
                          <li class="active"> <a href="{{ path('app_user') }}">Home</a> </li>
                          
                           {% if app.user %}
<li class="active"><a href="{{ path('app_utilisateur_edit_profile', { 'id_user': app.user.idUser }) }}"  class="active">Modifier le profil</a> </li>
                              {% else %}
                        <li ><a href="#">Inscription</a>
                                            <ul >
                                                <li style="color:black"><a href="{{ path('app_inscription_vendeur') }}" class="client-link" style="color:black !important">Vendeur</a></li>
<li >
<a href="{{ path('app_inscription') }}" class="client-link" style="color:black !important">Client</a></li>
                                            </ul>
                                        </li>    
                              {% endif %} 
                              <li> <a href="{{ path('app_produitss') }}">Produits</a> </li>
                          <li><a href="{{ path('app_frendu') }}">Supervision</a></li>
                          <li><a href="{{ path('app_feed') }}">Contact Us</a></li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                  <form class="search"> <input class="form-control" placeholder="Search" type="text"> <button><img src="{{asset('images/search_icon.png')}}"></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end header inner --> </header>