{% extends 'base.html.twig' %}

{% block section %} 
   <section class="slider_section">
      <div id="myCarousel" class="carousel slide banner-main" data-ride="carousel">
        <ul class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class=""><br>
          </li>
          <li data-target="#myCarousel" data-slide-to="1" class="active"><br>
          </li>
          <li data-target="#myCarousel" data-slide-to="2" class=""><br>
          </li>
        </ul>
        <div class="carousel-inner">
          <div class="carousel-item active"> <img class="first-slide" src="{{asset('images/banner.jpg')}}"

              alt="First slide">
            <div class="container">
              <div class="carousel-caption relative">
                <h1>GreenGrow</h1>
                <span>FARMING COMPANY</span>
                <p style="color:white;">Bienvenue sur Smart Farming, votre plateforme dédiée à
                  l’agriculture de précision et aux technologies intelligentes
                  pour optimiser la production agricole. </p>
                <a class="buynow" href="#about">À propos de nous </a><a class="buynow ggg"

                  href="#">Demander un devis</a> </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <i class="fa fa-angle-left"></i> </a> <a class="carousel-control-next"

          href="#myCarousel" role="button" data-slide="next"> <i class="fa fa-angle-right"></i>
        </a> </div>
    </section>
    <!-- about -->
    <div id="about" class="about">
      <div class="container">
        <div class="row">
          <div class="col-xl-5 col-lg-5 col-md-5 co-sm-l2">
            <div class="about_box">
              <h2>À propos de GreenGrow<br>
                <strong class="black"> Ferme et entreprise</strong></h2>
              <br>
              <p >Boostez vos rendements, réduisez vos coûts et gérez votre
                exploitation avec précision grâce à notre technologie de pointe.
                <br>
                🔹Surveillance en temps réel<br>
                Suivez l’humidité du sol, la température, et bien plus encore.<br>
                🔹 Automatisation intelligente<br>
                Activez l’irrigation et ajustez vos ressources en un clic.<br>
                🔹 Économie d’eau et d’énergie<br>
                Réduisez votre impact environnemental tout en augmentant votre
                productivité.<br>
                🔹Application mobile intuitive<br>
                Accédez aux données de votre exploitation à tout moment, où que
                vous soyez.<br>
                📦 Découvrez nos capteurs innovants et révolutionnez votre façon
                de cultiver !<br>
                👉 Commandez dès maintenant et passez à l’agriculture du futur !</p>
            </div>
          </div>
          <div class="col-xl-7 col-lg-7 col-md-7 co-sm-l2">
            <div class="about_img">
              <figure><img src="{{asset('images/about.jpg')}}" alt="img" style="margin-top: 250px;"></figure>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end about -->
    <!-- for_box -->
    <div class="for_box_bg">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
            <div class="for_box"> <i><img src="{{asset('images/1.png')}}" alt="#"></i> <span>1996923</span>
              <h3>Récolte</h3>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
            <div class="for_box"> <i><img src="{{asset('images/2.png')}}" alt="#"></i> <span>8000</span>
              <h3>Unités de bétail</h3>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
            <div class="for_box"> <i><img src="{{asset('images/3.png')}}" alt="#"></i> <span>60002</span>
              <h3>Ferme</h3>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-3 co-sm-l2">
            <div class="for_box"> <i><img src="{{asset('images/4.png')}}" alt="#"></i> <span>1623</span>
              <h3>Unités de Technique</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end for_box -->
    <!-- offer -->
    <div class="offer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>Offres <strong class="black">Spéciales</strong></h2>
            </div>
          </div>
        </div>
      </div>
      <div class="offer-bg">
        <div class="container">
          <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 ">
              <div class="offer_box">
                <h3>Agriculture connectée avec Farmers Edge</h3>
                <figure><img src="{{asset('images/offer1.jpg')}}" alt="img"></figure>
                <p>Cette technologie, développée par Farmers Edge, aide les
                  agriculteurs à optimiser leur rendement grâce à la collecte et
                  l’analyse de données en temps réel.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin_ttt">
              <div class="offer_box">
                <h3>Écran de commande agricole avancé</h3>
                <figure><img src="{{asset('images/offer2.jpg')}}" alt="img"></figure>
                <p>Écran de contrôle en cabine affichant des données agricoles
                  en temps réel (vitesse, semences, application par hectare,
                  caméra). Il fait partie d’un système de gestion automatisé
                  pour optimiser la précision et les performances agricoles.</p>
              </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 margin-lkk">
              <div class="offer_box">
                <h3>Système de guidage StarFire 7000 de John Deere</h3>
                <figure><img src="{{asset('images/offer3.jpg')}}"  alt="img"></figure>
                <p>Un écran tactile de contrôle et un verrou de sécurité sont
                  également visibles, indiquant une gestion optimisée et
                  sécurisée des machines agricoles </p>
              </div>
            </div>
            <div class="col-md-12"> <a class="read-more">Voir plus</a> </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end offer -->
    <!-- product -->
    <div id="product" class="product">
      <div class="container">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="title">
                <h2>Nos <strong class="black"> Produits</strong></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="product_box">
                  <figure><img src="{{asset('images/product_img1.jpg')}}" alt="#">
                    <h3>Robot agricole autonome</h3>
                  </figure>
                </div>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="product_box">
                  <figure><img src="{{asset('images/product_img2.jpg')}}" alt="#">
                    <h3>Capteur d’humidité et de température du sol </h3>
                  </figure>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="product_box">
                  <figure><img src="{{asset('images/product_img4.jpg')}}" alt="#">
                    <h3>Station météorologique agricole</h3>
                  </figure>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="product_box">
                  <figure><img src="{{asset('images/product_img3.jpg')}}" alt="#">
                    <h3>PrecisionHawk</h3>
                  </figure>
                </div>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="product_box">
                  <figure><img src="{{asset('images/product_img5.jpg')}}" alt="#">
                    <h3>Station météorologique connectée</h3>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end product -->
    <!-- clients -->
    <div id="testimonial" class="clients">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>Avis de Client</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clients_red">
      <div class="container">
        <div id="testimonial_slider" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ul class="carousel-indicators">
            <li data-target="#testimonial_slider" data-slide-to="0" class=""><br>
            </li>
            <li data-target="#testimonial_slider" data-slide-to="1" class="active"><br>
            </li>
            <li data-target="#testimonial_slider" data-slide-to="2" class=""><br>
            </li>
          </ul>
          <!-- The slideshow -->
          <div class="carousel-inner">
            <div class="carousel-item">
              <div class="testomonial_section">
                <div class="full testimonial_cont text_align_center cross_layout">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                      <div class="testomonial_img"> <i><img src="{{asset('images/tes.jpg')}}"

                            alt="#"></i> </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                      <div class="cross_inner">
                        <h3>Johndue<br>
                          <strong class="ornage_color">Farm &amp; CO</strong></h3>
                        <p><img src="{{asset('icon/1.png')}}" alt="#">Grâce à cette solution
                          de Smart Farming, nous avons considérablement amélioré
                          la gestion de notre exploitation. Les capteurs nous
                          fournissent des données précises sur l'humidité du sol
                          et la météo, ce qui nous permet d'optimiser
                          l'irrigation et de réduire le gaspillage d'eau. Un
                          outil indispensable pour une agriculture moderne et
                          efficace <img src="{{asset('icon/2.png')}}" alt="#"> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item active">
              <div class="testomonial_section">
                <div class="full center"> </div>
                <div class="full testimonial_cont text_align_center cross_layout">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                      <div class="testomonial_img"> <i><img src="{{asset('images/tes1.png')}}"

                            alt="#"></i> </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                      <div class="cross_inner">
                        <h3>Dubois Sophie <br>
                          <strong class="ornage_color">Farm &amp; CO</strong></h3>
                        <p><img src="{{asset('icon/1.png')}}"alt="#">Depuis que nous
                          utilisons cette technologie, nos cultures sont en bien
                          meilleure santé. L'automatisation nous fait gagner du
                          temps et nous permet de mieux planifier nos
                          interventions. L'interface est simple à utiliser et
                          les alertes en temps réel sont très pratiques. Je
                          recommande sans hésiter ! <img src="{{asset('icon/2.png')}}" alt="#">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item">
              <div class="testomonial_section">
                <div class="full center"> </div>
                <div class="full testimonial_cont text_align_center cross_layout">
                  <div class="row">
                    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 pa_right">
                      <div class="testomonial_img"> <i><img src="{{asset('images/tes2.png')}}"

                            alt="#"></i> </div>
                    </div>
                    <div class="col-xl-9 col-lg-9 col-md-9 col-sm-9 pa_left">
                      <div class="cross_inner">
                        <h3>Martin Julien<br>
                          <strong class="ornage_color">Farm &amp; CO</strong></h3>
                        <p><img src="{{asset('icon/1.png')}}" alt="#">Une vraie révolution
                          pour notre ferme ! Ce système nous a aidés à optimiser
                          nos récoltes et à réduire nos coûts. L’intelligence
                          artificielle et les capteurs connectés nous donnent
                          des informations précises qui facilitent la prise de
                          décision. Un must-have pour les agriculteurs
                          souhaitant innover ! <img src="{{asset('icon/2.png')}}" alt="#"> </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end clients -->
    <!-- contact -->
    <div id="contact" class="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="title">
              <h2>Contactez <strong class="black"> Nous</strong></h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid padddd">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 padddd">
        <div class="map_section">
          <div class="container">
            <div class="row">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <form class="main_form">
                  <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <input

                        class="form-control" placeholder="Name" name="Name" type="text">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <input

                        class="form-control" placeholder="Email" name="Email" type="text">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <input

                        class="form-control" placeholder="Phone" name="Phone" type="text">
                    </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <textarea

class="textarea" placeholder="Message" type="text" name="Message"></textarea> </div>
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12"> <button

                        class="send">Envoyer</button> </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div id="map"> </div>
        </div>
      </div>
    </div>
{% endblock %}
  {% block css %} 
  {{ parent() }}
{% endblock %}
{% block js %} 
  {{ parent() }}
{% endblock %}

